.parent {
   background-color: red;
   width: 400px;
   height: 400px;
   margin: 200px auto;
   box-shadow: -10px 10px 10px 10px black;
   transform: rotateX(100deg);
   transform: rotateY(20deg);
   transform: rotateZ(110deg);
}

:root {
   --header-height: ;

   /*========== Colors ==========*/
   /* Change favorite color */
   --hue-color: 200; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

   /* HSL color mode */
   --first-color: hsl(var(--hue-color), 50%, 60%);
   --first-color-second: hsl(var(--hue-color), 30%, 70%);
   --first-color-alt: hsl(var(--hue-color), 20%, 50%);

}

.p1{
   background-color: var(--first-color);
}
.p2{
   background-color: var(--first-color-second);
}
.p3{
   background-color: var(--first-color-alt);
}